.main-body {
    margin: 10px 0;
    background: #fff;
    border: solid 1px #AEAEAE;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .4);
    padding-bottom: 10px;
}

    .main-body .header {
        border-bottom: solid 1px #AEAEAE;
        padding: 10px 0 5px 0;
    }

        .main-body .header img.logo {
            height: 75px;
        }

        .main-body .header .name-eng {
            color: navy;
            font-size: 20px;
            font-weight: bold;
        }

        .main-body .header .name-hin {
            color: rgb(197, 0, 0);
            font-size: 20px;
            font-weight: bold;
        }

        .main-body .header .univ-type {
            font-size: 14px;
            font-weight: bold;
        }

.pg-button {
    border: solid 1px black;
    box-shadow: 2px 2px 2px #000000;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .4);
    border-radius: 5px;
    padding: 10px 0;
}

    .pg-button:hover {
        background: rgb(255, 255, 211);
        border-color: red;
        box-shadow: 2px 2px 2px #f00;
        box-shadow: 2px 2px 2px rgba(255, 0, 0, .4);
    }

/*Responsive Screen Size*/
@media screen and (min-width: 351px) and (max-width: 1081px) {
    .main-body .header img.logo {
        height: 50px;
    }

    .main-body .header .name-eng {
        color: navy;
        font-size: 16px;
        font-weight: bold;
    }

    .main-body .header .name-hin {
        color: rgb(197, 0, 0);
        font-size: 14px;
        font-weight: bold;
    }

    .main-body .header .univ-type {
        font-size: 10px;
        font-weight: bold;
    }
}
