
@{
    ViewBag.Title = "Awards";
    Layout = "~/Views/Shared/_ApplicantLayout.cshtml";
}

<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h3 class="text-themecolor">
            Patent, Policy and Award / Fellowship
        </h3>
        <p>Awards / Fellowships</p>
    </div>
    <div class="col-md-7 align-self-center">

    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header bg-info">
                    <h4 class="m-b-0 text-white"><b>5. (C) AWARDS / FELLOWSHIPS</b></h4>
                </div>
                <div class="card-body">

                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="col-sm-12">Name of the Award / Fellowship</label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control">
                                    @*<span id="body_reqAwardName" class="validator" style="display:none;">enter value</span>*@
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label class="col-sm-12">Date of Award</label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control">
                                    @*<span id="body_reqAwardDate" class="validator" style="display:none;">enter value</span>*@
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="col-sm-12">Awarding Body / Organization</label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control">
                                    @*<span id="body_reqAwardBody" class="validator" style="display:none;">enter value</span>*@
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label class="col-sm-12">Level</label>
                                <div class="col-sm-12">
                                    <select name=" " id=" AwardLevel" class="form-control">
                                        <option value="-1">-- select --</option>
                                        <option value="International">International</option>
                                        <option value="National">National</option>
                                        <option value="State">State</option>

                                    </select>
                                    @*<span id="body_reqAwardLevel" class="validator" style="display:none;">select an item</span>*@
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="col-sm-12">Upload Scanned Attachment</label>
                                <div class="col-sm-12">
                                    <input type="file" class="form-control">
                                    @*<span id="body_reqAwardUpload" class="validator" style="display:none;">upload file</span>*@
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="form-group">
                                <label class="col-sm-12">&nbsp;</label>
                                <div class="col-sm-12">
                                    <a class="btn btn-primary btn-shadow" href="#"><span class="fa fa-plus-circle"></span> Add</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">

                            <table class="table table-bordered">
                                <tbody>
                                    <tr class="table-primary">
                                        <th>Name of the Award / Fellowship</th>
                                        <th>Date of Award</th>
                                        <th>Awarding Body / Organization</th>
                                        <th>Level</th>
                                        <th>Score</th>
                                        <th>Attachment</th>
                                        <th></th>
                                    </tr>

                                </tbody>
                            </table>

                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="row">
        <div class="card-shadow-primary col-sm-12 card bg-secondary">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12">
                        <a id="body_BtnSave" class="btn btn-warning text-dark shadow" href="#"><span class="fa fa-save"></span> Save</a>
                        <a id="body_BtnSaveNext" class="btn btn-success text-dark shadow pull-right" href="#"><span class="fa fa-save"></span> Save &amp; Next <span class="fa fa-chevron-circle-right"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

