@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_UniversityLayout.cshtml";
}


<div class="clearfix"></div>
<br />



<div class="container">
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <a class="text-danger" href="#"><h4>Recruitment 2023 (Advertisement 01/2023)</h4></a>
        </li>
        <li class="list-group-item">
            <a class="text-primary" href="/home/Registration"><h4>New Applicant? Register Here!</h4></a>
        </li>
        <li class="list-group-item">
            <a class="text-info" href="/home/Login"><h4>Already Registered? Sign In Here!</h4></a>
        </li>
    </ul>
</div>